
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #4A90E2, #9013FE);
}

.login-card {
  width: 350px;
  padding: 25px;
  text-align: center;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.full-width {
  width: 100%;
  margin-top: 12px;
}
.signup-link {
    margin-top: 10px;
    font-size: 14px;
  }

  .errMsg {
    background-color: rgba(202, 32, 32, 0.8);
    color: #fff;
    padding: 6px 0;
    text-align: center;
    border: 2px solid rgb(87, 11, 11);
  }